body {
    background:#000;
    color: #404040;
    margin-bottom:50px;
}
a {
    color: #E1AA5D;
}
a:hover {
    color: #F39D21;
    text-decoration: none;
}
.page-header {
    font-size: 24px;
}

.textrow {
    padding-top:50px;
    font-size:16px;
}

#bigimage {
    width:100%;
    height:100%;
    background: #000 url("./images/header-flipped-black.jpg") center no-repeat;
    background-attachment:none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
}

#title h1 {
    font-size:40px;
    letter-spacing:0.5em;
    width:40%;
    cursor:default;
    position: absolute;
    left: 5%;
    top: 50%;
}

#grid-wrapper.isotope {
    max-width:100%;
    width: 100%;
    overflow: hidden;
    outline: none;
    margin:0px;
    margin-top:800px;
}

.grid-item a{
    width:100%;
    float: left;
    position: relative;
    overflow: hidden;
    background: #FFF;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.grid-item a.ib-loading,
.grid-item a.ib-loading:hover{
    background: #fff url(./images/ajax-loader.gif) no-repeat center center;
    background-size: 31px 31px;
}
.grid-item a.ib-loading img,
.grid-item a.ib-loading:hover img{
    opacity: 0.5;
}
.grid-item > a.ib-loading > span,
.grid-item a.ib-loading > span{
    display: none;
}
.grid-item a img{
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.grid-item a .desc{
    position: absolute;
    left: 0px;
    bottom: -60px;
    text-align: center;
    width: 100%;
    line-height: 27px;
    text-align: center;
    font-size: 28px;
    color: #D7D0C7;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.grid-item a:hover .desc{
    bottom: 20px;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.grid-item a:hover img{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    opacity: 0.5;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.grid-item a:hover{
    background-size: 100% 100%;
}
.text-item{
    padding:10px;
}
.sort-id{
    display:none;
}
.ib-preview{
    z-index: 23;
    overflow: hidden;
    position: absolute;
    top: 40px;
    display: none;
    background: #000;
}
.ib-preview-descr{
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 999;
    font-size: 50px;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.ib-preview img{
	position: absolute;
}
.ib-nav span{
	width: 53px;
	height: 87px;
	position: absolute;
	top: 50%;
	margin-top: -43px;
	cursor: pointer;
    text-indent: -9000px;
	opacity: 0.4;
	z-index: 999;
    background: transparent url(./images/nav2.png) no-repeat top right;
	right: 10px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ib-nav span.ib-nav-prev{
	background-position: top left;
	left: 10px;
    right: auto;
}
.ib-close{
	top: 7px;
	right: 7px;
	background: transparent url(./images/close2.png) no-repeat center center;
	position: absolute;
	width: 24px;
	height: 24px;
	cursor: pointer;
	opacity: 0.3;
	z-index: 999;
    text-indent: -9000px;
}
.ib-nav span:hover, .ib-close:hover{
	opacity: 1;
}
.ib-loading-large{
    text-indent: -9000px;
    width: 60px;
    height: 60px;
    background: #fff url(./images/ajax-loader.gif) no-repeat center center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
}

.disable-scroll {
    height: 100%!important;
    width: 100%!important;
    position: fixed!important;
    top: 0!important;
    bottom: 0!important;
}

#footer {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

/*
 * We're creating a grid with 4 columns
 * Each picture will take up 1, 2, 3 or 4 columns
 * We're adjusting the number of columns according
 * to the screen size
*/
/* one column */
@media all and (max-width: 320px){
    .width1, .width2, .width3, .width4{
        width: 100%;
    }

    #title{
        display:none;
    }
}

/* two columns */
@media all and (min-width: 321px) and (max-width: 640px) {
    .width1{
        width: 50%;
    }
    .width2, .width3, .width4{
        width: 100%;
    }

    #title{
        display:none;
    }
}

/* three columns */
@media all and (min-width: 641px) and (max-width: 960px) {
    .width1{
        width: 33.33333%;
    }
    .width2{
        width: 66.66666%;
    }
    .width3, .width4{
        width: 100%
    }
}

/* four columns */
@media all and (min-width: 961px) {
    .width1{
        width: 25%;
    }
    .width2{
        width: 50%;
    }
    .width3{
        width: 75%;
    }
    .width4{
        width: 100%;
    }
}
