body {
    /* background: #404040; */
    background:#000;
    color: #D7D0C7;
    margin-bottom:50px;
}
a {
    color: #E1AA5D;
}
a:hover {
    color: #F39D21;
    text-decoration: none;
}
.page-header {
    font-size: 24px;
}

.textrow {
    padding-top:50px;
    font-size:16px;
}

#bigimage {
    width:100%;
    height:100%;
    background: #000 url("./images/girl1610.jpg") center no-repeat;
    background-attachment:none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
}

#imagecontent {
    cursor:default;
    position: absolute;
    left: 10%;
    top: 40%;
    right: 20px;
    color: rgba(20, 20, 20, 0.7);
}

#imagecontent #title h1 {
    font-size:50px;
}

#imagecontent #intro {
    font-size:18px;
}

#grid-wrapper.isotope {
    max-width:none;
    width: 100%;
    overflow: hidden;
    outline: none;
    margin:0px;
    margin-top:800px;
    padding-left:5px;
    padding-right:5px;
}

.grid-item a{
    float: left;
    width: 310px;
    height: 310px;
    position: relative;
    overflow: hidden;
    background: #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin:5px;
}
.grid-item a.ib-loading,
.grid-item a.ib-loading:hover{
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    background-size: 31px 31px;
}
.grid-item a.ib-loading img,
.grid-item a.ib-loading:hover img{
    opacity: 0.5;
}
.grid-item > a.ib-loading > span,
.grid-item a.ib-loading > span{
    display: none;
}
.grid-item a img{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
// Description in thumbnail
.desc {
    z-index: 3;
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 22px;
    text-align: center;
    /* font-size: 11px; */
    font-size: 32px;
    /* color: #000; */
    left: 0px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover .desc {
    font-size: 32px;
    text-align: center;
    bottom: 20px;
}
.grid-item a:hover img{
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    opacity: 0.5;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
.grid-item a:hover{
    background-size: 100% 100%;
}
.ib-preview{
    z-index: 23;
    overflow: hidden;
    position: absolute;
    top: 40px;
    display: none;
}
.ib-preview-descr{
    position: absolute;
    bottom: 30px;
    left: 10px;
    z-index: 999;
    font-size: 50px;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.ib-preview img{
	position: absolute;
}
.ib-nav span{
	width: 53px;
	height: 87px;
	position: absolute;
	top: 50%;
	margin-top: -43px;
	cursor: pointer;
    text-indent: -9000px;
	opacity: 0.6;
	z-index: 999;
    background: transparent url(../images/nav.png) no-repeat top right;
	right: 10px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.ib-nav span.ib-nav-prev{
	background-position: top left;
	left: 10px;
    right: auto;
}
.ib-close{
	top: 7px;
	right: 7px;
	background: transparent url(../images/close.png) no-repeat center center;
	position: absolute;
	width: 24px;
	height: 24px;
	cursor: pointer;
	opacity: 0.2;
	z-index: 999;
    text-indent: -9000px;
}
.ib-nav span:hover, .ib-close:hover{
	opacity: 1;
}
.ib-loading-large{
    text-indent: -9000px;
    width: 60px;
    height: 60px;
    background: #fff url(../images/ajax-loader.gif) no-repeat center center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    z-index: 999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.9;
}

#footer {
    margin-top:50px;
    text-align:center;
    font-size:16px;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
