<div id="ib-img-preview" class="ib-preview">
    <img src="{{src}}" class="ib-preview-img"/>
    <span class="ib-preview-descr" style="display:none;">{{description}}</span>
    <div class="ib-nav" style="display:none;">
        <span class="ib-nav-prev">Previous</span>
        <span class="ib-nav-next">Next</span>
    </div>
    <span class="ib-close" style="display:none;">Close Preview</span>
    <div class="ib-loading-large" style="display:none;">Loading...</div>
</div>
